# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml

# Environment
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds (frontend / backend)
dist/
build/
*.local

# Archives
*.zip

# VSCode
.vscode/

# macOS
._*

# Certificates
certs/
